.container {
  background-color: #f0f2f5;
  padding: 20px;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 10px;
  }
  .customerCotainer{

    /* background: red !important; */
        flex-direction: column;
        height: auto !important;
  }

  .menuContainer, .orderCotainer .ant-form, .dashboardContainer .ant-form ,.customerCotainer .ant-form {
    width: 100% !important;
  }
  .menuContainer .ant-card-body {
    padding: 5px !important;
  }

  .orderCotainer {
    padding:10px !important;
  }
  .orderCotainer .ant-form{
    padding: 10px !important;
  }

  .menuInputs, .orderheader{
    flex-direction: column !important;
  }

  .orderheader > div{
    width: 100% !important;
    justify-content: space-between;
  }

  .orderheader > div:nth-child(2){
    margin-top: 20px;
  }

 
}


.productListContainer .ant-card-body{
  padding: 10px !important;
}

.headerContainer{
  position: sticky;
    bottom: 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 50px !important;
    padding: 0 !important;
    overflow: hidden;
}

.headerContainer ul {
  height: 50px !important;
}
.headerContainer li{
  height: 50px;
  display: flex !important;
  align-items: center;
  line-height: normal !important;
}

.hori_rule{
  width: 80%;
    /* color: #d9d9d9; */
    height: 1px;
    background: #e2e2e2;
    border: none;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* Add more styles as needed */
}

.user-details {
  margin-top: 10px;
  text-align: center;
  /* Add more styles as needed */
}

.loadingScreen{
  position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    backdrop-filter: blur(8px);
}


.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
  gap:20px;
  background-color: #f0f2f5; /* Optional: Adds a light background color */
}

.ant-form {
  background: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
}



.CustomerDiv{
  display:flex ;
  flex-direction:row;
   align-items:center; 
   gap:10px;
   cursor: pointer;
   transition: .3s;
   border-radius: 5px;
   padding: 10px;
}

.CustomerDiv:hover{
  background-color: #44b96b8c;
}

.podium {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align items to the bottom */
  gap: 20px; /* Adjust gap between podiums */
  margin-top: 10px;
  /* height: 50px; Adjust height as needed */
}

.podium-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 10px;
  background-color: #f0f0f0;
  width: 90%; /* Adjust width as needed */
  text-align: center;
  position: relative;
  padding-left: 15px;
}

.podium-item:nth-child(2) {
  height: 20px; /* Adjust height for the 2nd place */
  width: 80% !important;
  background-color: #c0c0c0; /* Silver color */
}

.podium-item:first-child {
  height: 20px; /* Adjust height for the 1st place */
  background-color: #FFD700; /* Gold color */
  width: 90% !important;

}

.podium-item:last-child {
  height: 20px; /* Adjust height for the 3rd place */
  background-color: #cd7f32; /* Bronze color */
  width: 70% !important;

}

.podium-icon {
  font-size: 20px;
  /* margin-bottom: 5px; */
  position: absolute;
  top: 0;
  left: 0;
}